.card-img-top {
    width: 100%; /* コンテナの幅に合わせて調整 */
    height: 200px; /* 高さを200pxに固定 */
    object-fit: cover; /* 画像のアスペクト比を保持しつつ、指定されたサイズに合わせる */
    transition: transform 0.3s ease-in-out;
}


.card:hover .card-img-top {
    transform: scale(1.1); /* ホバー時に画像を10%拡大 */
}

.card {
    overflow: hidden; /* ズーム時に画像がカードの外に出ないようにする */
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.0); /* ホバー時にカードを10%拡大 */
    z-index: 10; /* ホバーされたカードを他のカードより前に表示 */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ビューポートの高さに基づいて最小高さを設定 */
}

header {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


footer {
    margin-top: auto; /* コンテンツが少ない時にフッターを下に押し出す */
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #007bff;
    color: white;
}
