/* ベースとなる設定 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 40px; /* コンテナ全体のパディング */
}

h1, h2, h3 {
    margin-top: 40px; /* 見出しの上部に余白を追加 */
    margin-bottom: 20px; /* 見出しの下部に余白を追加 */
}

h2 {
    border-left: 5px solid #007bff;
    padding-left: 10px;
    color: #007bff;
}

h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    color: #333;
    font-size: 1.25rem; /* 文字サイズを小さく設定 */
    margin-bottom: 30px; /* 見出しの下部に余白を追加 */
}

/* ヘッダー */
header {
    background-color: #004080; /* 軽い背景色に変更 */
    color: white; /* 文字色を白に変更 */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* ソフトなシャドウを追加 */
}

section, .row {
    margin-bottom: 60px; /* セクションと行の下に余白を追加（以前の40pxから60pxへ変更） */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white; /* リンクの色を白に */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    color: #007bff; /* フォーカスとホバー時の色を青に */
}

/* カードのスタイル */
.card {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    margin: 20px;
    margin-top: 20px; /* 各カードの上にマージンを追加 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* カードに影を追加 */
    transform: scale(1.2); /* カード全体を1.2倍に拡大 */
}

.card-img-top {
    width: 100%;
    height: 300px; /* 画像の高さを調整 */
    object-fit: cover; /* 画像全体が表示されるように設定 */
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card:hover {
    z-index: 10;
}

/* フッター */
footer {
    background-color: #004080; /* 背景色を軽く */
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* 上向きのシャドウを追加 */
    margin-top: 40px;
    width: 100%;
}

.project-screenshot img {
    max-width: 100%; /* 画像の幅を全体に設定 */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 20px auto; /* 画像を中央に配置 */
}

.project-content {
    text-align: left; /* 説明文を左揃えに変更 */
    margin-top: 20px;
}

.project-links {
    text-align: center;
    margin-top: 20px;
}

.project-link {
    margin: 10px 0; /* 各リンクの間にスペースを追加 */
}

/* 追加のスタイルが必要な場合はここに記述 */
.blog-card {
    width: 100%; /* 各ブログカードが列を埋めるように設定 */
    margin: 10px; /* カード間にスペースを追加 */
    transition: box-shadow 0.3s, transform 0.3s; /* 遷移効果をスムーズに */
}

.blog-card:hover {
    transform: scale(1.01); /* ホバー時にカードを少し大きく */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* ホバー時の影を強調 */
}

#blog a {
    color: black; /* リンクのテキスト色を黒に設定 */
    text-decoration: none; /* 下線を消す */
}

#blog a:hover {
    color: none; /* ホバー時に色をグレーに変更 */
    text-decoration: none; /* ホバー時に下線を表示 */
}

/* コードブロックの背景色とフォントカラー */
pre.code-block {
    position: relative;
    background: #1e1e1e; /* 背景色を黒に設定 */
    color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 20px;
}

pre.code-block code {
    background: none; /* 内側の背景を透明に */
    color: inherit;
    display: block;
    white-space: pre; /* preタグ内の改行を維持 */
}

/* ハイライトされたコードのスタイル */
.hljs {
    background: #1e1e1e;
    color: #dcdcdc;
}

.hljs-comment, .hljs-quote {
    color: #6a9955;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: #569cd6;
}

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: #b5cea8;
}

.hljs-string, .hljs-doctag {
    color: #ce9178;
}

.hljs-title, .hljs-section, .hljs-selector-id {
    color: #dcdcaa;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type, .hljs-class .hljs-title {
    color: #4ec9b0;
}

.hljs-attribute {
    color: #9cdcfe;
}

.hljs-regexp, .hljs-link {
    color: #d16969;
}

.hljs-symbol, .hljs-bullet {
    color: #569cd6;
}

.hljs-built_in, .hljs-builtin-name {
    color: #ce9178;
}

.hljs-meta {
    color: #9cdcfe;
}

.hljs-deletion {
    background: #ff0000;
    color: #fff;
}

.hljs-addition {
    background: #00ff00;
    color: #fff;
}

.copy-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
    display: block; /* 常に表示 */
}
