<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Takeru Shingu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Takeru Shingu's Portfolio</h1>
        <nav>
            <ul>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container mt-4">
        <section id="profile">
            <h2>Profile</h2>
            <ul>
                <li>東京工科大学コンピュータサイエンス学部人工知能専攻 B2</li>
                <li>大学以外で、オンライン学習サイト「Recursion」を使用して、CSを勉強中</li>
                <li>低レイヤーのプログラミングに興味あり、勉強中。コンパイラ作りたい</li>
            </ul>
            <p>
                これまでに、以下のような経験を積んできました。
            </p>
            <ul>
                <li>Recursionのチーム開発で2週間でテトリスを作成。JavaScriptを使用</li>
                <li>Recursionの2回目のチーム開発で3週間でOnline Chat Messengerを作成。Pythonを使用</li>
                <li>アルゴリズム、データ構造、OOPの学習でJavaを使用</li>
                <li>MarkdownToHTMLの開発でPHPを使用</li>
                <li>学校の講義と自分自身の学習でC言語を勉強中。低レイヤーに興味あり</li>
            </ul>
            <p>
                さらに、このサイトや他のウェブアプリケーションの開発にはHTML、CSS、Bootstrapを使用しています。
                また、AWS EC2、NGINX、VirtualBox、GitHubなどのツールを活用しています。
            </p>
        </section>
        

        <section id="skills">
            <h2>Skills</h2>
            <ul>
                <li><strong>Programming Languages:</strong> Python, JavaScript, Java, C, PHP</li>
                <li><strong>Frameworks and Tools:</strong> Django</li>
                <li><strong>Frontend Technologies:</strong> HTML, CSS, Bootstrap</li>
                <li><strong>Databases:</strong> MySQL</li>
                <li><strong>DevOps Tools:</strong> AWS EC2, NGINX, VirtualBox, GitHub</li>
            </ul>
        </section>
        

        <section id="projects">
            <h2>Projects</h2>
            <div class="row">
                {% for project in projects %}
                <div class="col-md-4">
                    <div class="card clickable">
                        <a href="projects/{{ project.slug }}.html" class="card-link">
                            <img src="{{ project.image }}" class="card-img-top" alt="{{ project.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.summary }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="blog">
            <h2>Blog Posts</h2>
            <div class="row">
                {% for post in posts %}
                <a href="blog/{{ post.slug }}.html">
                    <div class="card blog-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.summary }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>Feel free to reach out if you have any questions or want to connect!</p>
        </section>
    </div>
    <footer>
        <p>© 2024 Takeru Shingu. All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
